# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*_cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/

# docs
/docs/generated/
/docs/_build/

# IDEs
/.idea/
/.vscode/
*.zarr/
/.scripts/

# Coverage
.coverage*
.python-version
